
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.title
{
	font-size: 18px;
	text-align: center;
	background: #424458;
	top: 100%;
}

.container {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 200%;
	background: #424458;
}

.footer, .container::after
{
	bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
	border: 0;
	width: 100%;
	position: relative;
	background: #2d2e3a;
}

#topBtn
{
	display: block;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-image: linear-gradient(#434343,#ff0000);
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

#topBtn:hover
{
	background-color: #555;
}

.menu ul
{
	display: inline-flex;
	margin: 50px;
	float: left;
}

.menu ul li
{
	list-style: none;
	margin: 0 20px;
	color: #b2b2b2;
	cursor: pointer;
}

.logo img
{
	width: 30px;
	margin-top: -10px;
	margin-right: 10px;
}

.active
{
	color: #ff9028 !important;
}

.fun
{
	top: 40px;
	right: 80px;
	position: absolute;
	text-decoration: none;
	color: #fff;
	border: 2px solid transparent;
	border-radius: 20px;
	background-image: linear-gradient(#434343,#424242), radial-gradient(circle at top left, #fd7a00,#f12121);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.fun span 
{
	display: block;
	padding: 8px 22px;
}

.banner
{
	width: 80%;
	height: 70%;
	top: 25%;
	left: 130px;
	position: absolute;
	color: white;
}

.app-text
{
	width: 50%;
	float: left;
}

.app-text h1
{
	font-size: 42px;
	width: 640px;
	position: relative;
	margin-left: 40px;
}

.app-text p
{
	width: 650px;
	font-size: 15px;
	margin: 30px 0 30px 40px;
	line-height: 25px;
	color: grey;
}

.center-picture 
{
	width: 50%;
	float: right;
	
}

.center-picture img
{
	position: relative;
	width: 100%;
	margin-top: -20px;
	padding-left: 0px;
}

.play-btn 
{
	margin-left: 40px;
	display: inline-flex;
}

.play-btn-inner
{
	height: 50px;
	width: 50px;
	border: 2px solid transparent;
	border-radius: 50%;
	background-image: linear-gradient(#434343,#424242), radial-gradient(circle at top left, #fd7a00,#f12121);
	background-origin: border-box;
	background-clip: content-box, border-box;
	text-align: center;
}

.play-btn-inner img
{
	width: 100%;
	font-size: 13px;
	cursor: pointer;
}

small
{
	margin: auto 20px;
	cursor: pointer;
	font-size: 12px;
	color: #17cbeb;
	letter-spacing: 3px;
}

.footerthing
{
	float: right;
	font-size: 10px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}