/* Style for all */
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the viewport height */
}

html 
{
	scroll-behavior: smooth;
	height: 100%;
    margin: 0;
}

/* Title placement and style */
.title
{
	font-size: 1.8vw;
	padding-bottom: 20px;
	text-align: center;
	background: #424458;
	top: 100%;
	color: white;
	float: top;
	position: relative;
	top: auto;
}

.title h1
{
	margin: 10px;
}

/* Container for everything inside the main page */
.container {
    flex: 1; /* Take available space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribute space between header and footer */
    padding-bottom: 70px; /* Space for the footer */
    background: #424458;
    min-height: 100vh; /* Ensure at least viewport height */
    box-sizing: border-box;
}

/* Footer, made to come after the container */
.footer, .container::after
{
    padding: 15px;
    width: 100%;
    background: #2d2e3a;
    position: relative;
    box-sizing: border-box;
}

/* Css for the go to top button */
#topBtn
{
	display: none; /* don't display until scroll function happens */
	position: fixed;
	bottom: 60px;
	right: 30px;
	z-index: 99; /* z index high so button doesnt go under other elements */
	font-size: 18px;
	border: none;
	outline: none;
	background-image: linear-gradient(#fd7a00,#ff0000);
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

#topBtn:hover
{
	background-color: #555 !important;
}


/* Style for the header menu */
.header
{
	top: 0;
	padding-top: 40px;
	padding-bottom: 50px;
	margin: 0;
	border: 0;
	width: 100%;
	position: sticky;
	background: #2d2e3a;
	z-index: 99;
}

.menu ul
{
	display: inline-flex;
	float: left;
	margin-left: 50px;
}

.menu ul li
{
	list-style: none;
	margin: 0 20px;
	color: #b2b2b2;
	cursor: pointer;
	text-decoration: none;
}

.menu ul li a:hover
{
	color: orange;
	background: #111;
}

menu ul li a:active {
	color: lightgreen;
  }

.active
{
	background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red) !important;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow_animation 6s ease-in-out infinite;
}

/* my attempts at animation are futile */

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

/* CSS animation for scrolling text */
@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.scrolling-text {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-right: 20%;
    margin-left: 20%;
    overflow: hidden;
}

.scrolling-text p {
    animation: scroll 15s linear infinite; /* Adjust the animation duration as needed */
    white-space: nowrap;
}

.logo img
{
	max-width: 30px;
	margin-top: -10px;
	margin-right: 10px;
}

/* Style the cool af fun button */
.fun
{
	top: 40px;
	right: 80px;
	position: absolute; /* Position set because it's still in the other flex box */
	text-decoration: none;
	color: #fff;
	border: 2px solid transparent;
	border-radius: 20px;
	background-image: linear-gradient(#434343,#424242), radial-gradient(circle at top left, #fd7a00,#f12121);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.fun span 
{
	display: block;
	padding: 8px 22px;
}

.fun:hover
{
	color: transparent;
	transition: 500ms ease;
}

/* Container for image and text */
.banner-container {
  width: 80%;
  position: relative;
  color: white;
  background-color: #424458;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 50px;
}

.bannertext {
  flex-basis: 50%;
}

.bannertext h1 {
  font-size: 2.5vw;
  max-width: 100%;
  margin-left: 5%;
}

.bannertext p {
  font-size: 1.2vw;
  width: 80%;
  margin: 30px 0 30px 5%;
  line-height: 1.5;
  color: grey;
}

.top-picture,
.bottom-picture {
  flex-basis: 40%;
}

.top-picture img,
.bottom-picture img {
  width: 100%;
  height: auto;
}

.aboutmeimg
{
	flex-basis: 40%;
}

.aboutmeimg img
{
  width: 70%;
  height: auto;
}

/* End of Container */


.play-btn 
{
	margin-left: 40px;
	display: inline-flex;
}

.play-btn-inner
{
	height: 50px;
	width: 50px;
	border: 2px solid transparent;
	border-radius: 50%;
	background-image: linear-gradient(#434343,#424242), radial-gradient(circle at top left, #fd7a00,#f12121);
	background-origin: border-box;
	background-clip: content-box, border-box;
	text-align: center;
}

.play-btn-inner img
{
	width: 100%;
	font-size: 13px;
	cursor: pointer;
}

small
{
	margin: auto 20px;
	cursor: pointer;
	font-size: 12px;
	color: #17cbeb;
	letter-spacing: 3px;
}


/* Social links */

.social-links
{
	margin-left: 40%;
}

.social-links ul
{
	display: inline-flex;
	margin: 15px auto;
	text-align: center;
}

.social-links ul li
{
	list-style: none;
	margin: 0 20px;
	color: #b2b2b2;
	cursor: pointer;
}

/* A class that simply centers text */
.CenterText { 
	text-align-last: center; 
}

.canvasdiv
{
	background: #424458;
    display: flex;
    align-items: center;
	justify-content: center;
	
}

/* Mobile devices */
@media screen and (max-width: 768px) {
  /* Add your mobile-specific styles here */
}

/* Default fallback for links */
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:blue; }
a:hover, a:active { text-decoration: none; color:black }